h1,h2,h3,h4,h5,h6,p,td,th{
    color: var(--primary);
}
h1,h2{
    text-align: center;
    margin-block:1em;
}
p{
    max-width: 60rem;
    margin-inline:auto;
    font-size: 1.125em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-inline:2em;
    margin-block:1em;
    text-align: justify;
    @media only screen and (max-width: 55rem) {
        padding-inline: 1em;
    }
    @media only screen and (max-width: 33rem) {
        padding-inline: 1ch;
    }
}