html,
body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
section h3,
section h4 {
    margin-inline-start: 3.5em;
    @media (max-width: 55rem) {
        margin-inline-start: 1em;
    }
    @media (max-width: 33rem) {
        margin-inline-start: 0em;
    }
}
@media (max-width: 33rem) {
    #habzik {
        display: flex;
        flex-direction: column;
        & > img {
            max-width: 100%;
            padding-inline: 0.5em;
        }
    }
}

#content-wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

table.rumadai-table {
    font-weight: bold;
    background-color: var(--secondary-variant);
    padding: 0.5em;
    border: 0.125em solid var(--primary);
    margin-block: 2em;
    width: 80%;
    max-width: 50rem;
    margin-inline: auto;
    tr {
        display: grid;
        width: 100%;
        grid-template-columns: 4fr 7fr;
        border-top: 0.125em solid var(--primary);
        td {
            padding-block:.3ch;
            &:nth-child(2n) {
                text-align: center;
                border-left: 0.125em dotted var(--primary);
            }
        }
        &:first-child{
            border-top: 0;
        }
    }
}
#elet-a-heven {
    align-self: center;
    margin-inline: auto;
    max-height: 20rem;
    width: auto;
}
video{
    display: block;
    margin-block:1em;
    margin-inline:auto;
}
